<h1>Listing employees</h1>

<table>
  <tr>
	<th>Department</th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
	<td><%= employee.employee_department_history.DepartmentID %></td>
  </tr>
<% end %>
</table>


<br />

<%= will_paginate @employees %>
