<!DOCTYPE html>
<html>
<head>
  <title>AdventureWorks2008R2Ror</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
